body.background-web {
    background-image: url('fondo-stars.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-background {
    background-image: url('azul.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease; 
}

.register-background {
    background-image: url('verde.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 90%; 
    max-width: 400px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center; 
}

.icon-inside {
    position: absolute;
    left: 10px;
    color: #ff0000;
}

input {
    width: 100%;
    padding: 10px;
    padding-left: 35px; 
    border: 1px sólido #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button:hover {
    background-color: #faac10aa;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.toggle-link {
    color: #3498db;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}